---
prices:
  - backup: "-"
    moderation: "-"
    timeframe: 1 day
    tags: "1"
    streams: "1"
    price: free / 0
    level: Free
  - backup: "-"
    moderation: "-"
    timeframe: 2 days
    tags: "1"
    streams: "1"
    price: $399
    level: Event
  - backup: "Yes"
    moderation: "-"
    timeframe: 1 month
    tags: "2"
    streams: "2"
    price: $499
    level: Brand
  - backup: "Yes"
    moderation: "Yes"
    timeframe: ∞
    tags: ∞
    streams: ∞
    price: "sales@gignal.com"
    level: Enterprise
description: Gignal pricing
title: Pricing
---


<div class="container">

  <h2>{{title}}</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          {{~#each prices}}
          <th>{{ this.level }}</th>
          {{~/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Price</th>
          {{~#each prices}}
          <td>{{ this.price }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Streams</th>
          {{~#each prices}}
          <td>{{ this.streams }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Tags</th>
          {{~#each prices}}
          <td>{{ this.tags }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Timeframe</th>
          {{~#each prices}}
          <td>{{ this.timeframe }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Moderation</th>
          {{~#each prices}}
          <td>{{ this.moderation }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Backup</th>
          {{~#each prices}}
          <td>{{ this.backup }}</td>
          {{~/each}}
        </tr>
      </tbody>
    </table>
  </div>

  <p class="text-center">
    <a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Get started</a>
  </p>

</div>
