---
title: Pricing
description: Gignal pricing
prices:
  - level: Free
    price: free
    streams: 1
    tags: 1
    timeframe: 1 day
    moderation: '-'
    backup: '-'
  - level: Event
    price: $399
    streams: 1
    tags: 1
    timeframe: 2 days
    moderation: '-'
    backup: '-'
  - level: Brand
    price: $499
    streams: 2
    tags: 2
    timeframe: 1 month
    moderation: '-'
    backup: Yes
  - level: Enterprise
    price: sales@gignal.com
    streams: ∞
    tags: ∞
    timeframe: ∞
    moderation: Yes
    backup: Yes
---

<div class="container">

  <h2>{{title}}</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          {{~#each prices}}
          <th>{{ this.level }}</th>
          {{~/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Price</th>
          {{~#each prices}}
          <td>{{ this.price }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Streams</th>
          {{~#each prices}}
          <td>{{ this.streams }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Tags</th>
          {{~#each prices}}
          <td>{{ this.tags }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Timeframe</th>
          {{~#each prices}}
          <td>{{ this.timeframe }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Moderation</th>
          {{~#each prices}}
          <td>{{ this.moderation }}</td>
          {{~/each}}
        </tr>
        <tr>
          <th>Backup</th>
          {{~#each prices}}
          <td>{{ this.backup }}</td>
          {{~/each}}
        </tr>
      </tbody>
    </table>
  </div>

  <p class="text-center">
    <a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Get started</a>
  </p>

</div>
